@page
@model BlogMaster1122.website.AboutModel
@{
    <div class="text-center">
        <h1>What is BlogMaster?</h1>
        <h4 class="text-secondary">BlogMaster is a website about blogging, probably. I'm not sure really</h4>
    </div>
}
