@page
@using BlogMaster1122.website.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BlogMaster</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/Login">Log In</a> <a class="nav-link text-dark" asp-area="" asp-page="/SignUp">Sign Up</a></p>
</div>
