@page
@using BlogMaster1122.website.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BlogMaster</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Log In</a> <a href="https://docs.microsoft.com/aspnet/core">Sign Up</a></p>
</div>
