@page
@using BlogMaster1122.website.Pages;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Blogmaster is the property of mine and mine only, any unauthorized use of this website including user data, pictures, and copying and pasting whatever code you find from the github repo will result in me being very disappointed in you. :(</p>
